.section.features {
  padding-bottom: 0px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list-item {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.features-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.what-we-do-list {
  display: flex;
  margin-top: 50px;
}

.what-we-do-list-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.what-we-do-background {
  position: relative;
}

.what-we-do-position {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do-description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--seconadry-accent-color);
}
