.container.header-position {
  display: flex;
}
.header-style {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.page-nav {
  display: flex;
  margin-left: 93px;

  & .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--main-transition-duration)
      var(--main-transition-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  & .page-nav-list:not(:last-child) {
    margin-right: 50px;
  }
}

.page-nav-list {
  position: relative;
}

.page-nav .link.current {
  color: var(--accent-color);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

/* page-contacts */
.page-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;

  & .page-contacts-list + .page-contacts-list {
    margin-left: 50px;
  }
}

.page-contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--main-transition-duration)
    var(--main-transition-timing-function);

  & .link:hover,
  & .link:focus {
    color: var(--accent-color);
  }
}
