.solutions__list {
  @extend %list;
  display: flex;
  margin-top: 50px;
}

.solutions__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.what-we-do-background {
  position: relative;
}

.what-we-do-position {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do-description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--seconadry-accent-color);
}
