.section.team {
  padding-bottom: 94px;
}

.section-title.name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team {
  background-color: var(--secondary-background-color);
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
.profession {
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.our-team-list {
  display: flex;
  margin-top: 50px;
  text-align: center;
}

.our-team-list-item {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.our-team-list-item:last-child {
  margin-right: 0px;
}

.team-social-list {
  display: flex;
  justify-content: space-between;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  fill: #afb1b8;
  transition: fill var(--main-transition-duration)
      var(--main-transition-timing-function),
    background-color var(--main-transition-duration)
      var(--main-transition-timing-function);
}
.team-social-link:hover,
.team-social-link:focus {
  fill: var(--seconadry-accent-color);
  background-color: var(--accent-color);
}

.team-social-icon {
  width: 20px;
  height: 20px;
}
