.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  display: inline-block;
  color: var(--logo-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-accent {
  color: var(--accent-color);
}
