.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  &-accent {
    color: var(--accent-color);
  }
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-text-color);
}

.footer-logo {
  color: var(--footer-primary-color);
}
