.social__list {
  @extend %list;
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  fill: #afb1b8;
  transition: fill var(--main-transition-duration)
      var(--main-transition-timing-function),
    background-color var(--main-transition-duration)
      var(--main-transition-timing-function);

  &:hover,
  &:focus {
    fill: var(--seconadry-accent-color);
    background-color: var(--accent-color);
  }
}

.social__icon {
  width: 20px;
  height: 20px;
}

.join-links {
  margin-left: 70px;

  &-icon {
    width: 20px;
    height: 20px;
  }

  &-list {
    display: flex;

    &-item:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.join-links-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--footer-primary-color);
  transition: background-color var(--main-transition-duration)
    var(--main-transition-timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
