body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.center {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}
