.section {
  padding-top: 94px;
}
.section.what-we-do {
  padding-bottom: 94px;
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.section-title.description {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
